################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bank-DotnetCore/.vs/Bank-DotnetCore
/Bank-DotnetCore/Bank-DotnetCore/obj
